<div class="form-container">
  <h1><strong>!</strong> Edit this task!</h1>
    <%= simple_form_for (@task) do |f| %>
      <%= f.input :title %>
      <%= f.input :details %>
      <%= f.input :completed %>
      <div class="submit-link">
        <%= f.submit%>
        <p><%= link_to 'Back to Tasks', tasks_path %></p>
      </div>
    <% end %>
</div>

